@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sen", sans-serif;
  background: #F7F8FE;
  background: #F0FFF8;
}

/* Globals  */
:root {
  --softgrey: rgba(32, 33, 36, 0.28);
  --box: 0 1px 6px 0;
  --green: #38A169;
  --text: #303030;
}

h1,
h2,
h3,
h4,
p {
  color: #303030;
  font-weight: bold
}

h1,
h2,
h3,
h4 {
  font-weight: bold
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}


li {
  cursor: pointer;
  list-style: none;
}

/* Header Component */
header {
  box-shadow: var(--box) var(--softgrey);
  padding: 10px 0;
}


.nav-wrap {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%;
}

.logo {
  font-size: 18px;
  color: green;
}

.ham img {
  height: 30px;
  width: 30px;
}


nav {
  position: fixed;
  right: 0;
  height: 100vh;
  margin-top: 55px;
  margin-right: -350px;
  background: #fffffe;
  transition: ease 0.8s;
  border-left: 1px solid var(--softgrey);
  z-index: 999999999999999999;
  /* CSS no go kill me*/
}

.open-nav {
  margin-right: 0px;
  transition: ease 0.8s;
}

.nav-wrap ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-wrap nav ul li {
  text-align: center;
  padding: 20px 0;
  width: 300px;
  border-bottom: 1px solid var(--softgrey);
}

@media only screen and (min-width:700px) {
  .nav-wrap {
    width: 90%;
  }

  .logo {
    font-size: 22px;
  }

  .nav-wrap ul li {
    margin: 0 7px;
  }
}

@media only screen and (min-width:1000px) {
  .logo {
    font-size: 25px;
  }

  .nav-wrap ul li {
    margin: 0 12px;
    font-size: 1.2rem;
  }
}

/* login page "/" */

form {
  margin: auto;
  width: 90%;
  box-shadow: var(--box) var(--softgrey);
  padding: 20px;
  margin-top: 40px;
}

form h2:first-child {
  text-align: center;
  color: green;
  font-size: 1rem;
}

form div {
  margin: 10px 0 !important;
}

@media only screen and (min-width:700px) {
  form {
    width: 70%;
  }
}

@media only screen and (min-width:1000px) {
  form {
    width: 60%;
  }

  form h2:first-child {
    font-size: 1.3rem;
  }
}




/* Global styles for page structure */

.header {
  display: flex;
  text-align: center;
  margin: 15px auto;
  justify-content: space-between;
  align-items: center;
  width: 80%;

}


.skeleton {
  margin: auto;
  width: 90%;
}

.heading {
  margin: 10px auto;
  width: 90%;
  color: var(--green);
  font-weight: bold;
  border-bottom: 1px solid var(--softgrey);
}

.wrap {
  margin: auto;
  width: 90%;
  background: white;
}

.title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  font-weight: bold;
}


.title p {
  font-size: 0.9rem;
}

.list {
  box-shadow: var(--box) var(--softgrey);
  border-left: 5px solid var(--green);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2px 0;
  place-items: center;
  margin: 5px 0;
}

.list p {
  margin-left: 10px;
  font-size: 0.8rem;
}

.list img {
  border-radius: 50%;
  width: 100px;
  height: 60px;
}


@media only screen and (min-width: 700px) {

  .title p {
    font-size: 1rem;
  }

  .list p {
    font-size: 1rem;
  }
}


@media only screen and (min-width: 1400px) {
  .skeleton {
    width: 70%;
  }

  .wrap {
    width: 70%;
  }

  .title p {
    font-size: 1.1rem;
  }

  .list p {
    font-size: 1.1rem;
  }
}




/* User's page */
.user-page .title {
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.user-page .list {
  grid-template-columns: repeat(4, 1fr);

}

.user-page .list p {
  word-wrap: break-word;
  width: 70px;
}

@media only screen and (min-width: 700px) {

  .user-page .list p {
    word-wrap: break-word;
    width: 90%;
  }

  .user-page .list {
    padding: 10px 0;
  }
}


@media only screen and (min-width: 1000px) {

  .user-page .list p {
    width: 100%;
    text-align: center;
  }


}